{% extends 'base.html.twig' %}

{% block title %}Hello AdController!{% endblock %}

{% block body %}
   <h1  class="my-3">voici les annonce de nos Hôtes</h1>
            <div class="row">
     {% for ad in ads %}

         {% set varUrl=path('ad-show',{'slug':ad.slug}) %}
              <div class="col-md-4">
              <div class="card bg-light mb-3">
                 <div class="card-header text-center">
                      {{ ad.rooms }} chambres, <strong>{{ ad.price }}&euro;/nuit</strong><br>
                       <small>Pas ancors noté</small>
                 </div>
               
                  <a href="{{varUrl}}">
                   <img src="https://via.placeholder.com/1000x400" alt="Image  exmemple"
                   style="height: 200px;width: 100%; display:block ;">
                   </a>
                  <div class="card-body">
                     <h4 class="card-title">
                        {{ ad.title }}
                     </h4>
                           
                     <p class="card-text">
                         {{ ad.introduction }}
                      </p>
                       <a href="{{varUrl}}" class="btn btn-secondary">En savoir plus</a>
                        {% if app.user and app.user== ad.author %}
                              <a href="{{path('ads_edit',{slug:ad.slug})}}" class="btn btn-primary">modifier l'annonce</a>
                       {% endif %}

                  </div> 

            </div>
        </div>

     {% endfor %}
            </div>

{% endblock %}
